<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<header>
	<div class="top-banner">
		<div id="top-nav-container">
			<nav class="nav-top">
					<ul>
						<li><a href="#">Switch Sites</a>
							<ul>
								<li><a href="{{ nav_urls["delete_url"] }}">Nardoo Hills</a></li>
								<li><a href="{{ nav_urls["delete_url"] }}">Round House</a></li>
								<li><a href="{{ nav_urls["mod_url"] }}">Jock Marshall</a></li>
								<li><a href="{{ nav_urls["freaklabsjpn_url"] }}">Sandbox Japan</a></li>
								<li><a href="{{ nav_urls["freaklabsau_url"] }}">Sandbox Australia</a></li>
							</ul>
						</li>
					<li><a href="{{ nav_urls["photos_url"] }}">Photo Gallery</a></li>
					<li><a href="{{ nav_urls["about_url"] }}">About The Project</a></li>
					<li><a href="{{ nav_urls["team_url"] }}">The Team</a></li>
					<li><a href="{{ nav_urls["contact_url"] }}">Contact</a></li>
				</ul>
			</nav>
		</div>
		<a href="/" class="h1">
			<h1>{{ title }}</h1>
			<h2>{{ deploy_site }}</h2></a>
			<div id="main-nav-container">
			<nav class="nav-main">
				<ul>
					<li class="nav-main-active"><a href="{{ nav_urls["gateways_url"] }}">Gateways</a></li>
					<li><a href="{{ nav_urls["stations_url"] }}">Stations</a></li>
					<li><a href="{{ nav_urls["readings_url"] }}">Readings</a></li>
					<li><a href="#">Edit</a>
						<ul>
							<li><a href="{{ nav_urls["add_url"] }}">Add</a></li>
							<li><a href="{{ nav_urls["mod_url"] }}">Modify</a></li>
							<li><a href="{{ nav_urls["delete_url"] }}">Delete</a></li>
						</ul>
					</li>
					<li><a href="{{ nav_urls["download_url"] }}">Download Readings</a></li>
				</ul>
		</nav>
	</div>
</div>
</header>
<main>
	<h3>Complete readings for Gateway {{ gw_id }}</h3>
	<a href="/gateway/{{ gw_id }}">Current setup and meta data </a>
	<p class="note">Last 20 results for gateway {{ gw_id }}, All stations</p>
	<table>
		<thead>
			<tr>
				<th>reading ID</th>
				<th>live, test</th>
				<th class="table_gw">gw timestamp</th>
				<th class="table_gw">gw id</th>
				<th class="table_gw">gw rssi</th>
				<th class="table_gw">gw conn att</th>
				<th class="table_gw">gw encl temp</th>
				<th class="table_gw">gw batt</th>
				<th class="table_gw">gw solar val</th>
				<th class="table_scs">scs id</th>
				<th class="table_scs">scs num</th>
				<th class="table_scs">scs rssi</th>
				<th class="table_scs">scs conn att</th>
				<th class="table_scs">scs send fail</th>
				<th class="table_scs">scs encl temp</th>
				<th class="table_scs">scs batt</th>
				<th class="table_scs">scs solar val</th>
			</tr>
		</thead>
		<tbody>
		{% for reading in readings %}
			<tr>
				<td>{{ reading["reading_id"] }}</td>
				<td>{{ reading["live_test"] }}</td>
				<td>{{ reading["gw_date_time"] }}</td>
				<td>{{ reading["gw_id"] }}</td>
				<td>{{ reading["gw_rssi"] }}</td>
				<td>{{ reading["gw_conn_att"] }}</td>
				<td>{{ reading["gw_encl_temp"] }}</td>
				<td>{{ reading["gw_batt"] }}</td>
				<td>{{ reading["gw_solar_val"] }}</td>
				<td>{{ reading["ss_id"] }}</td>
				<td>{{ reading["ss_num"] }}</td>
				<td>{{ reading["ss_rssi"] }}</td>
				<td>{{ reading["ss_conn_att"] }}</td>
				<td>{{ reading["ss_send_fail"] }}</td>
				<td>{{ reading["ss_encl_temp"] }}</td>
				<td>{{ reading["ss_batt"] }}</td>
				<td>{{ reading["ss_solar_val"] }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
</main>
<footer>
	<hr>
		<img src="{{url_for('static', filename='freaklabs.png')}}"/><img src="{{url_for('static', filename='bha.jpg')}}"/><img src="{{url_for('static', filename='monashuni.png')}}"/>
		<p>© 2022 Copyright</p>
</footer>
</body>
</html>
