<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<header>
	<div class="top-banner">
		<div id="top-nav-container">
			<nav class="nav-top">
					<ul>
						<li><a href="#">Switch Sites</a>
							<ul>
								<li><a href="{{ nav_urls["delete_url"] }}">Nardoo Hills</a></li>
								<li><a href="{{ nav_urls["delete_url"] }}">Round House</a></li>
								<li><a href="{{ nav_urls["mod_url"] }}">Jock Marshall</a></li>
								<li><a href="{{ nav_urls["freaklabsjpn_url"] }}">Sandbox Japan</a></li>
								<li><a href="{{ nav_urls["freaklabsau_url"] }}">Sandbox Australia</a></li>
							</ul>
						</li>
					<li><a href="{{ nav_urls["photos_url"] }}">Photo Gallery</a></li>
					<li><a href="{{ nav_urls["about_url"] }}">About The Project</a></li>
					<li><a href="{{ nav_urls["team_url"] }}">The Team</a></li>
					<li><a href="{{ nav_urls["contact_url"] }}">Contact</a></li>
				</ul>
			</nav>
		</div>
		<a href="/" class="h1">
			<h1>{{ title }}</h1>
			<h2>{{ deploy_site }}</h2></a>
			<div id="main-nav-container">
			<nav class="nav-main">
				<ul>
					<li><a href="{{ nav_urls["gateways_url"] }}">Gateways</a></li>
					<li class="nav-main-active"><a href="{{ nav_urls["stations_url"] }}">Stations</a></li>
					<li><a href="{{ nav_urls["readings_url"] }}">Readings</a></li>
					<li><a href="#">Edit</a>
						<ul>
							<li><a href="{{ nav_urls["add_url"] }}">Add</a></li>
							<li><a href="{{ nav_urls["mod_url"] }}">Modify</a></li>
							<li><a href="{{ nav_urls["delete_url"] }}">Delete</a></li>
						</ul>
					</li>
					<li><a href="{{ nav_urls["download_url"] }}">Download Readings</a></li>
				</ul>
		</nav>
	</div>
</div>
</header>
<main>
	<h3>Stations</h3>
		{% for station in stations %}
			<h4><a href="/station/{{ station["ss_id"] }}">Station {{ station["ss_id"] }}</a></h4>
			<p>Model: {{ station["ss_model"] }}</p>
			<p>Linked Gateway: {{ station["gw_id"] }}</p>
			<p>Station Number: {{ station["ss_num"] }}</p>
			<p>Software: {{ station["ss_sw"] }}</p>
			<p>Site: {{ station["ss_site"] }}</p>
			<p>Location: <a href="{{ station["ss_locate"] }}" target="_blank">{{ station["ss_locate"] }}</a></p>
			<p><a href="/station/{{ station["ss_id"] }}">Current setup and meta data</a></p>
			{% if station["readings"] %}
				<ul>
					<li><p><a href="/station/{{ station["ss_id"] }}#stationreadings">Station only readings (all)</a></p></li>
					<li><p><a href="/station/{{ station["ss_id"] }}/readings">Complete readings (last 20 records)</a></p></li>
				</ul>
			<br/>
			<br/>
			{% else %}
			<p>No readings</p>
			<br/>
			<br/>
			{% endif %}
		{% endfor %}
</main>
<footer>
	<hr>
		<img src="{{url_for('static', filename='freaklabs.png')}}"/><img src="{{url_for('static', filename='bha.jpg')}}"/><img src="{{url_for('static', filename='monashuni.png')}}"/>
		<p>© 2022 Copyright</p>
</footer>
</body>
</html>
